<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAjDt_qLgFiq4bvkxr0T-U0lVGqFO2sARY</string>
	<key>GCM_SENDER_ID</key>
	<string>641063758181</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tubes.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>tubesmobile-c4f0d</string>
	<key>STORAGE_BUCKET</key>
	<string>tubesmobile-c4f0d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:641063758181:ios:4a97e5162f270809a2198c</string>
</dict>
</plist>